package {{package}};

import org.springframework.cloud.openfeign.FeignClient;

@FeignClient(
    name = "{{classname}}Client",
    {{#useFeignClientContextId}}
    contextId = "{{classname}}Client",
    {{/useFeignClientContextId}}
    {{#useFeignClientUrl}}
    url = "${{openbrace}}{{classVarName}}.url:{{basePath}}{{closebrace}}"
    {{/useFeignClientUrl}}
)
public interface {{classname}}Client extends {{classname}} {
}
